.nav-item .active {
  color: #f5a442 !important;
}

.navbar {
  background: var(--bs-gray-800);
}

h2 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}


.box {
  border-style: solid;
  border-color: green;
  aspect-ratio: 1;
}

.first-row {
  margin-top:2.5rem;
}