.nav-item .active {
  color: #f5a442 !important;
}

.navbar {
  background: var(--bs-gray-800);
}

.box {
  border-style: solid;
  border-color: green;
  aspect-ratio: 1;
}

.first-row {
  margin-top:2.5rem;
}